<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs', { title: classData.name }) %>
    <body id="class">
        <%- include('partials/header.ejs') %>

        <div class="sidenav">
            <h1>Menu</h1>
            <a href="/class/<%= encodeURIComponent(classData._id) %>">Homepage</a>
            <a href="/class/<%= encodeURIComponent(classData._id) %>/assignments">Assignments</a>
        </div>
    
        <div id="classdescription">
            <h1><%= classData.name %></h1>
            <h1>Assignments</h1>
        </div>

        <div id="assignments">
            <ul>
                <% if (assignments.length) { %>
                    <% for (let i = 0; i < assignments.length; i++) { %>
                        <% let assignment = assignments[i]; %>
                        <li id="assignment-<%= assignments[i]._id %>">
                            <h2><%= assignment.name %></h2>
                            <p><%= assignment.description %></p>
                            <p>Due: <%= assignment.duedate %></p>
                            <a href="/class/<%= classData._id %>/assignment/<%= assignment._id %>/uploaded-files/<%= assignment.descriptionFile %>">Open detailed description</a>
                            <button id="delete-assignment-button" onclick="deleteAssignment('<%= assignment._id %>')">Delete assignment</button>
                        </li>
                    <% } %>
                </ul>
                <% } else { %>
                    <h3>No assignments yet!</h3>
                <% } %>
        </div>
        <div id="assignment-delete-message"></div>
        <a id="add-assignment-button" href="/class/<%= encodeURIComponent(classData._id) %>/addassignment">Add assignment</a>

        <%- include('partials/footer.ejs') %>
    
  </body>
</html>